core.*
core
LOG
cscope.out
.Linux*
.SunOS*
doxygen/Warnings-Internal.txt
doxygen/Warnings-Public.txt
depend
LOG.sun
ir.out
*~
*.bak
SunWS_cache
*.gcda
*.gcov
CYGWIN*
*.so
tcovd/
*.profile/
CopyRightNotice.c
Android-ToDo
D-LOG
O-LOG
V-LOG
.*.swp
x
m4
libtool
configure
build-aux
configure.scan
aclocal.m4
autom4te.cache
autoscan.log
config.log
config.status
Makefile
Makefile.in
.libs
.deps
*.o
*.lo
*.la
stamp-*
*.in
configure.ac.tests
*.gcno
Utilities
